<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <filter>
    <display-name>VotingAgeCheckFilter</display-name>
    <filter-name>VotingAgeCheckFilter</filter-name>
    <filter-class>filters.VotingAgeCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>VotingAgeCheckFilter</filter-name>
    <url-pattern>/VotingAgeCheckFilter</url-pattern>
  </filter-mapping>
  <display-name>ServeletFilter</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletA</display-name>
    <servlet-name>ServletA</servlet-name>
    <servlet-class>com.simpli.ServletA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletA</servlet-name>
    <url-pattern>/ServletA</url-pattern>
  </servlet-mapping>
</web-app>